*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: "Sofia", sans-serif;
}
.container{
    background: #301934;;
    border: 2px solid black;
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-rows: 92% auto;
    row-gap: 12px;
    place-items: center;
}

.sec-con{
    background-color:#722F37;
    height: 500px;
    width: 500px;
    border-radius: 500px;
    box-shadow:  0 20px 100px rgba(0, 0, 0, .5);
    translate: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sec-con::before{
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    border: 8px dotted #fff;
    box-sizing: border-box;
    border-radius: 50%;
    transform: scale(1.1);
    animation: rotate 20s  linear infinite;
}
@keyframes rotate{
    0%{
        transform: scale(1.1) rotate(0deg);
    }
    100%{
        transform: scale(1.1) rotate(-360deg);
    }
}
.txts h4{
    padding: 0;
    font-style: bold;
}

.firework{
    /* background-color: #684a38;*/
     border: 1px solid brown;
     background-color:  #64241d;
     position: absolute;
     bottom: 28%;
     left: 50%;
     transform: translateX(-50%);
     width: 180px;
     height: 90px;
     border-bottom-left-radius: 140px;
     border-bottom-right-radius: 140px;
     box-shadow: 0 0 25px rgba(0, 0, 0, .5);
 }
 .firework::before{
    content: "";
    position: absolute;
    background: #ff4500;
    width: 40px;
    height: 80px;
    top: -80px;
    left: 70px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transform-origin: bottom-right;
    filter: blur(2px);
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(30deg);
        box-shadow: 0 0 30px #ff4500;
    }
    25%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(15deg);
        box-shadow: 0 0 100px #ff4500;
    }
    75%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(20deg);
        box-shadow: 0 0 30px #ff4500;
    }
}
span.dynamic-txts{
    position: relative;
    bottom: -20px;
    margin-left: -20px;
    font-size: 44px;
}
span.dynamic-txts::after{
    
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background: #722F37;
    border-left: 2px solid orange;
    animation: typing 3s steps(14) infinite;
}
@keyframes typing {
    100%{
        left: 100%;
    }
}
.footer
{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #231427;
    width: 100%;
    font-size: x-small;
    position: absolute;
    bottom: 0;
    height: 6vh;
}
.sec-con h4{
    font-size: 2rem;
    color: rgba(255, 255, 255, .5);
    text-shadow: 0px 0px 6px orangered, 0px 2px 1px orange;
}
